<a href="https://colab.research.google.com/github/raviakasapu/MachineLearning/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas and advanced data science **

[Import Pandas Series](#scrollTo=qJovi707nY1k&line=3&uniqifier=1)

[Working with *apply* function in *pandas Series* ](#scrollTo=ZrhmN_fAqsi2&line=1&uniqifier=1)

[Working with dictionaies](#scrollTo=NxCNX_t6u1zk&line=4&uniqifier=1)

# Pandas Series

In [4]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
print(type(s))
print(s.index)
print(s.values)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
[1 2 3 4 5]

In [ ]:
fruits = ['apples','bananas','cherries','pears']

In [ ]:
s1 = pd.Series([20,10,30,40] , index = fruits)
s2 = pd.Series([8,8,8,8], index = fruits)
print(s1+s2)

apples      28
bananas     18
cherries    38
pears       48
dtype: int64

In [ ]:
print(s1['apples'])

20

# working with Apply function in Pandas Series

In [14]:
import numpy as np
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64

In [ ]:
s.apply(lambda x:x+25 if(x>2) else x+10)

0    11
1    12
2    28
3    29
4    30
dtype: int64

# working with series object using dictionaries

In [ ]:
cities = {"London":    8615246, 
          "Berlin":    3562166, 
          "Madrid":    3165235, 
          "Rome":      2874038, 
          "Paris":     2273305, 
          "Vienna":    1805681, 
          "Bucharest": 1803425, 
          "Hamburg":   1760433,
          "Budapest":  1754000,
          "Warsaw":    1740119,
          "Barcelona": 1602386,
          "Munich":    1493900,
          "Milan":     1350680}

city_series = pd.Series(cities)
print(city_series)

London       8615246
Berlin       3562166
Madrid       3165235
Rome         2874038
Paris        2273305
Vienna       1805681
Bucharest    1803425
Hamburg      1760433
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350680
dtype: int64

ceate a Data Frame using series

In [ ]:
city_df = pd.DataFrame(city_series, columns = ['population'])
city_df.index

Index(['London', 'Berlin', 'Madrid', 'Rome', 'Paris', 'Vienna', 'Bucharest',
       'Hamburg', 'Budapest', 'Warsaw', 'Barcelona', 'Munich', 'Milan'],
      dtype='object')

In [ ]:
city_df.isnull()

           population
London          False
Berlin          False
Madrid          False
Rome            False
Paris           False
Vienna          False
Bucharest       False
Hamburg         False
Budapest        False
Warsaw          False
Barcelona       False
Munich          False
Milan           False

In [ ]:
city_index_new = ['London', 'Berlin', 'Madrid','Delhi', 'Rome', 'Paris', 'Vienna', 'Bucharest',
       'Hamburg', 'Budapest', 'Warsaw','Tokyo', 'Barcelona', 'Munich', 'Milan']

In [ ]:
city_df = pd.DataFrame(city_series, columns = ['population'], index = city_index_new)
city_df

           population
London      8615246.0
Berlin      3562166.0
Madrid      3165235.0
Delhi             NaN
Rome        2874038.0
Paris       2273305.0
Vienna      1805681.0
Bucharest   1803425.0
Hamburg     1760433.0
Budapest    1754000.0
Warsaw      1740119.0
Tokyo             NaN
Barcelona   1602386.0
Munich      1493900.0
Milan       1350680.0

In [ ]:
city_df['population'].isnull()

London       False
Berlin       False
Madrid       False
Delhi         True
Rome         False
Paris        False
Vienna       False
Bucharest    False
Hamburg      False
Budapest     False
Warsaw       False
Tokyo         True
Barcelona    False
Munich       False
Milan        False
Name: population, dtype: bool

In [ ]:
city_df['population'].dropna()

London       8615246.0
Berlin       3562166.0
Madrid       3165235.0
Rome         2874038.0
Paris        2273305.0
Vienna       1805681.0
Bucharest    1803425.0
Hamburg      1760433.0
Budapest     1754000.0
Warsaw       1740119.0
Barcelona    1602386.0
Munich       1493900.0
Milan        1350680.0
Name: population, dtype: float64

In [ ]:
city_df['population'].fillna(method='ffill')

London       8615246.0
Berlin       3562166.0
Madrid       3165235.0
Delhi        3165235.0
Rome         2874038.0
Paris        2273305.0
Vienna       1805681.0
Bucharest    1803425.0
Hamburg      1760433.0
Budapest     1754000.0
Warsaw       1740119.0
Tokyo        1740119.0
Barcelona    1602386.0
Munich       1493900.0
Milan        1350680.0
Name: population, dtype: float64

In [5]:
cities_new = {"name": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1740119, 1602386, 1493900,
                         1350680],
          "country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"]}

In [6]:
city_frame = pd.DataFrame(cities_new, columns=['name','population'], index=cities_new['country'])
city_frame

              name  population
England     London     8615246
Germany     Berlin     3562166
Spain       Madrid     3165235
Italy         Rome     2874038
France       Paris     2273305
Austria     Vienna     1805681
Romania  Bucharest     1803425
Germany    Hamburg     1760433
Hungary   Budapest     1754000
Poland      Warsaw     1740119
Spain    Barcelona     1602386
Germany     Munich     1493900
Italy        Milan     1350680

# Row Operations and Accessing Rows using Index

In [7]:
print(city_frame.loc['Italy'])

        name  population
Italy   Rome     2874038
Italy  Milan     1350680

In [11]:
print(city_frame[city_frame['population']>2000000])

           name  population
England  London     8615246
Germany  Berlin     3562166
Spain    Madrid     3165235
Italy      Rome     2874038
France    Paris     2273305

In [12]:
print(city_frame.iloc[[3,2,4,5,-1]])

           name  population
Italy      Rome     2874038
Spain    Madrid     3165235
France    Paris     2273305
Austria  Vienna     1805681
Italy     Milan     1350680

# sum and cumulative sum using pandas

In [15]:
years = range(2014,2019)
cities = ["Zürich", "Freiburg", "München", "Konstanz", "Saarbrücken"]
shops = pd.DataFrame(index=years)
for city in cities:
  shops.insert(loc=len(shops.columns),
               column = city,
               value=(np.random.uniform(0.7,1,(5,))*1000).round(2)
               )

In [16]:
print(shops)

      Zürich  Freiburg  München  Konstanz  Saarbrücken
2014  802.03    961.08   831.34    980.02       854.79
2015  978.82    984.87   772.44    951.91       972.17
2016  707.43    744.60   838.64    959.57       779.73
2017  986.47    819.12   932.68    975.69       830.64
2018  701.60    880.14   840.04    861.07       907.30

In [18]:
shops.sum()

Zürich         4176.35
Freiburg       4389.81
München        4215.14
Konstanz       4728.26
Saarbrücken    4344.63
dtype: float64

In [21]:
shops.sum(axis=1)

2014    4429.26
2015    4660.21
2016    4029.97
2017    4544.60
2018    4190.15
dtype: float64

In [22]:
shops.sum(axis=0)

Zürich         4176.35
Freiburg       4389.81
München        4215.14
Konstanz       4728.26
Saarbrücken    4344.63
dtype: float64

In [23]:
shops.cumsum()

       Zürich  Freiburg  München  Konstanz  Saarbrücken
2014   802.03    961.08   831.34    980.02       854.79
2015  1780.85   1945.95  1603.78   1931.93      1826.96
2016  2488.28   2690.55  2442.42   2891.50      2606.69
2017  3474.75   3509.67  3375.10   3867.19      3437.33
2018  4176.35   4389.81  4215.14   4728.26      4344.63

In [24]:
shops.cumsum(axis=0)

       Zürich  Freiburg  München  Konstanz  Saarbrücken
2014   802.03    961.08   831.34    980.02       854.79
2015  1780.85   1945.95  1603.78   1931.93      1826.96
2016  2488.28   2690.55  2442.42   2891.50      2606.69
2017  3474.75   3509.67  3375.10   3867.19      3437.33
2018  4176.35   4389.81  4215.14   4728.26      4344.63

In [25]:
shops.cumsum(axis=1)

      Zürich  Freiburg  München  Konstanz  Saarbrücken
2014  802.03   1763.11  2594.45   3574.47      4429.26
2015  978.82   1963.69  2736.13   3688.04      4660.21
2016  707.43   1452.03  2290.67   3250.24      4029.97
2017  986.47   1805.59  2738.27   3713.96      4544.60
2018  701.60   1581.74  2421.78   3282.85      4190.15

In [26]:
# area in square km:
area = [1572, 891.85, 605.77, 1285, 
        105.4, 414.6, 228, 755, 
        525.2, 517, 101.9, 310.4, 
        181.8]
# area could have been designed as a list, a Series, an array or a scalar   

city_frame["area"] = area

In [27]:
city_frame.head()

           name  population     area
England  London     8615246  1572.00
Germany  Berlin     3562166   891.85
Spain    Madrid     3165235   605.77
Italy      Rome     2874038  1285.00
France    Paris     2273305   105.40

In [28]:
city_frame.sort_values(by="area")

              name  population     area
Spain    Barcelona     1602386   101.90
France       Paris     2273305   105.40
Italy        Milan     1350680   181.80
Romania  Bucharest     1803425   228.00
Germany     Munich     1493900   310.40
Austria     Vienna     1805681   414.60
Poland      Warsaw     1740119   517.00
Hungary   Budapest     1754000   525.20
Spain       Madrid     3165235   605.77
Germany    Hamburg     1760433   755.00
Germany     Berlin     3562166   891.85
Italy         Rome     2874038  1285.00
England     London     8615246  1572.00