<a href="https://colab.research.google.com/github/raviakasapu/MachineLearning/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas and advanced data science **

[Import Pandas Series](#scrollTo=qJovi707nY1k&line=3&uniqifier=1)

[Working with *apply* function in *pandas Series* ](#scrollTo=ZrhmN_fAqsi2&line=1&uniqifier=1)

[Working with dictionaies](#scrollTo=NxCNX_t6u1zk&line=4&uniqifier=1)

# Pandas Series

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
print(type(s))
print(s.index)
print(s.values)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
[1 2 3 4 5]

In [ ]:
fruits = ['apples','bananas','cherries','pears']

In [ ]:
s1 = pd.Series([20,10,30,40] , index = fruits)
s2 = pd.Series([8,8,8,8], index = fruits)
print(s1+s2)

apples      28
bananas     18
cherries    38
pears       48
dtype: int64

In [ ]:
print(s1['apples'])

20

# working with Apply function in Pandas Series

In [ ]:
import numpy as np
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64

In [ ]:
s.apply(lambda x:x+25 if(x>2) else x+10)

0    11
1    12
2    28
3    29
4    30
dtype: int64

# working with series object using dictionaries

In [ ]:
cities = {"London":    8615246, 
          "Berlin":    3562166, 
          "Madrid":    3165235, 
          "Rome":      2874038, 
          "Paris":     2273305, 
          "Vienna":    1805681, 
          "Bucharest": 1803425, 
          "Hamburg":   1760433,
          "Budapest":  1754000,
          "Warsaw":    1740119,
          "Barcelona": 1602386,
          "Munich":    1493900,
          "Milan":     1350680}

city_series = pd.Series(cities)
print(city_series)

London       8615246
Berlin       3562166
Madrid       3165235
Rome         2874038
Paris        2273305
Vienna       1805681
Bucharest    1803425
Hamburg      1760433
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350680
dtype: int64

ceate a Data Frame using series

In [ ]:
city_df = pd.DataFrame(city_series, columns = ['population'])
city_df.index

Index(['London', 'Berlin', 'Madrid', 'Rome', 'Paris', 'Vienna', 'Bucharest',
       'Hamburg', 'Budapest', 'Warsaw', 'Barcelona', 'Munich', 'Milan'],
      dtype='object')

In [ ]:
city_df.isnull()

           population
London          False
Berlin          False
Madrid          False
Rome            False
Paris           False
Vienna          False
Bucharest       False
Hamburg         False
Budapest        False
Warsaw          False
Barcelona       False
Munich          False
Milan           False

In [ ]:
city_index_new = ['London', 'Berlin', 'Madrid','Delhi', 'Rome', 'Paris', 'Vienna', 'Bucharest',
       'Hamburg', 'Budapest', 'Warsaw','Tokyo', 'Barcelona', 'Munich', 'Milan']

In [ ]:
city_df = pd.DataFrame(city_series, columns = ['population'], index = city_index_new)
city_df

           population
London      8615246.0
Berlin      3562166.0
Madrid      3165235.0
Delhi             NaN
Rome        2874038.0
Paris       2273305.0
Vienna      1805681.0
Bucharest   1803425.0
Hamburg     1760433.0
Budapest    1754000.0
Warsaw      1740119.0
Tokyo             NaN
Barcelona   1602386.0
Munich      1493900.0
Milan       1350680.0

In [ ]:
city_df['population'].isnull()

London       False
Berlin       False
Madrid       False
Delhi         True
Rome         False
Paris        False
Vienna       False
Bucharest    False
Hamburg      False
Budapest     False
Warsaw       False
Tokyo         True
Barcelona    False
Munich       False
Milan        False
Name: population, dtype: bool

In [ ]:
city_df['population'].dropna()

London       8615246.0
Berlin       3562166.0
Madrid       3165235.0
Rome         2874038.0
Paris        2273305.0
Vienna       1805681.0
Bucharest    1803425.0
Hamburg      1760433.0
Budapest     1754000.0
Warsaw       1740119.0
Barcelona    1602386.0
Munich       1493900.0
Milan        1350680.0
Name: population, dtype: float64

In [ ]:
city_df['population'].fillna(method='ffill')

London       8615246.0
Berlin       3562166.0
Madrid       3165235.0
Delhi        3165235.0
Rome         2874038.0
Paris        2273305.0
Vienna       1805681.0
Bucharest    1803425.0
Hamburg      1760433.0
Budapest     1754000.0
Warsaw       1740119.0
Tokyo        1740119.0
Barcelona    1602386.0
Munich       1493900.0
Milan        1350680.0
Name: population, dtype: float64

In [ ]:
cities_new = {"name": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1740119, 1602386, 1493900,
                         1350680],
          "country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"]}

In [ ]:
city_frame = pd.DataFrame(cities_new, columns=['name','population'], index=cities_new['country'])
city_frame

              name  population
England     London     8615246
Germany     Berlin     3562166
Spain       Madrid     3165235
Italy         Rome     2874038
France       Paris     2273305
Austria     Vienna     1805681
Romania  Bucharest     1803425
Germany    Hamburg     1760433
Hungary   Budapest     1754000
Poland      Warsaw     1740119
Spain    Barcelona     1602386
Germany     Munich     1493900
Italy        Milan     1350680

# Row Operations and Accessing Rows using Index

In [ ]:
print(city_frame.loc['Italy'])

        name  population
Italy   Rome     2874038
Italy  Milan     1350680

In [ ]:
print(city_frame[city_frame['population']>2000000])

           name  population
England  London     8615246
Germany  Berlin     3562166
Spain    Madrid     3165235
Italy      Rome     2874038
France    Paris     2273305

In [ ]:
print(city_frame.iloc[[3,2,4,5,-1]])

           name  population
Italy      Rome     2874038
Spain    Madrid     3165235
France    Paris     2273305
Austria  Vienna     1805681
Italy     Milan     1350680

# sum and cumulative sum using pandas

In [ ]:
years = range(2014,2019)
cities = ["Zürich", "Freiburg", "München", "Konstanz", "Saarbrücken"]
shops = pd.DataFrame(index=years)
for city in cities:
  shops.insert(loc=len(shops.columns),
               column = city,
               value=(np.random.uniform(0.7,1,(5,))*1000).round(2)
               )

In [ ]:
print(shops)

      Zürich  Freiburg  München  Konstanz  Saarbrücken
2014  824.50    841.27   739.22    750.19       719.63
2015  988.17    779.81   841.23    933.84       877.68
2016  826.59    838.16   911.69    798.62       845.38
2017  820.93    876.46   840.97    971.79       755.31
2018  912.27    907.35   864.05    748.81       939.50

In [ ]:
shops.sum()

Zürich         4372.46
Freiburg       4243.05
München        4197.16
Konstanz       4203.25
Saarbrücken    4137.50
dtype: float64

In [ ]:
shops.sum(axis=1)

2014    3874.81
2015    4420.73
2016    4220.44
2017    4265.46
2018    4371.98
dtype: float64

In [ ]:
shops.sum(axis=0)

Zürich         4372.46
Freiburg       4243.05
München        4197.16
Konstanz       4203.25
Saarbrücken    4137.50
dtype: float64

In [ ]:
shops.cumsum()

       Zürich  Freiburg  München  Konstanz  Saarbrücken
2014   824.50    841.27   739.22    750.19       719.63
2015  1812.67   1621.08  1580.45   1684.03      1597.31
2016  2639.26   2459.24  2492.14   2482.65      2442.69
2017  3460.19   3335.70  3333.11   3454.44      3198.00
2018  4372.46   4243.05  4197.16   4203.25      4137.50

In [ ]:
shops.cumsum(axis=0)

       Zürich  Freiburg  München  Konstanz  Saarbrücken
2014   824.50    841.27   739.22    750.19       719.63
2015  1812.67   1621.08  1580.45   1684.03      1597.31
2016  2639.26   2459.24  2492.14   2482.65      2442.69
2017  3460.19   3335.70  3333.11   3454.44      3198.00
2018  4372.46   4243.05  4197.16   4203.25      4137.50

In [ ]:
shops.cumsum(axis=1)

      Zürich  Freiburg  München  Konstanz  Saarbrücken
2014  824.50   1665.77  2404.99   3155.18      3874.81
2015  988.17   1767.98  2609.21   3543.05      4420.73
2016  826.59   1664.75  2576.44   3375.06      4220.44
2017  820.93   1697.39  2538.36   3510.15      4265.46
2018  912.27   1819.62  2683.67   3432.48      4371.98

In [ ]:
# area in square km:
area = [1572, 891.85, 605.77, 1285, 
        105.4, 414.6, 228, 755, 
        525.2, 517, 101.9, 310.4, 
        181.8]
# area could have been designed as a list, a Series, an array or a scalar   

city_frame["area"] = area

In [ ]:
city_frame.head()

           name  population     area
England  London     8615246  1572.00
Germany  Berlin     3562166   891.85
Spain    Madrid     3165235   605.77
Italy      Rome     2874038  1285.00
France    Paris     2273305   105.40

In [ ]:
city_frame.sort_values(by="area")

              name  population     area
Spain    Barcelona     1602386   101.90
France       Paris     2273305   105.40
Italy        Milan     1350680   181.80
Romania  Bucharest     1803425   228.00
Germany     Munich     1493900   310.40
Austria     Vienna     1805681   414.60
Poland      Warsaw     1740119   517.00
Hungary   Budapest     1754000   525.20
Spain       Madrid     3165235   605.77
Germany    Hamburg     1760433   755.00
Germany     Berlin     3562166   891.85
Italy         Rome     2874038  1285.00
England     London     8615246  1572.00

In [ ]:
city_frame.T

            England  Germany    Spain  ...      Spain  Germany    Italy
name         London   Berlin   Madrid  ...  Barcelona   Munich    Milan
population  8615246  3562166  3165235  ...    1602386  1493900  1350680
area         1572.0   891.85   605.77  ...      101.9    310.4    181.8

[3 rows x 13 columns]

# to_replace

In [ ]:
s= pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
f = lambda x: x if x>20 else 999
s.apply(f)

0    999
1    999
2     30
3     40
4     50
dtype: int64

# appeding new column

In [54]:
f1 = lambda x: 'Metro' if x> 2500000 else 'Town'
city_type = city_frame['population'].apply(f1)
city_type

England    Metro
Germany    Metro
Spain      Metro
Italy      Metro
France      Town
Austria     Town
Romania     Town
Germany     Town
Hungary     Town
Poland      Town
Spain       Town
Germany     Town
Italy       Town
Name: population, dtype: object

In [55]:
city_frame['city_type'] = city_type
city_frame

              name  population     area city_type
England     London     8615246  1572.00     Metro
Germany     Berlin     3562166   891.85     Metro
Spain       Madrid     3165235   605.77     Metro
Italy         Rome     2874038  1285.00     Metro
France       Paris     2273305   105.40      Town
Austria     Vienna     1805681   414.60      Town
Romania  Bucharest     1803425   228.00      Town
Germany    Hamburg     1760433   755.00      Town
Hungary   Budapest     1754000   525.20      Town
Poland      Warsaw     1740119   517.00      Town
Spain    Barcelona     1602386   101.90      Town
Germany     Munich     1493900   310.40      Town
Italy        Milan     1350680   181.80      Town

In [58]:
city_frame.replace("Metro", "Metroplitan", inplace=True)
city_frame

              name  population     area    city_type
England     London     8615246  1572.00  Metroplitan
Germany     Berlin     3562166   891.85  Metroplitan
Spain       Madrid     3165235   605.77  Metroplitan
Italy         Rome     2874038  1285.00  Metroplitan
France       Paris     2273305   105.40         Town
Austria     Vienna     1805681   414.60         Town
Romania  Bucharest     1803425   228.00         Town
Germany    Hamburg     1760433   755.00         Town
Hungary   Budapest     1754000   525.20         Town
Poland      Warsaw     1740119   517.00         Town
Spain    Barcelona     1602386   101.90         Town
Germany     Munich     1493900   310.40         Town
Italy        Milan     1350680   181.80         Town