<a href="https://colab.research.google.com/github/raviakasapu/MachineLearning/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas and advanced data science **

[Import Pandas Series](#scrollTo=qJovi707nY1k&line=3&uniqifier=1)

[Working with *apply* function in *pandas Series* ](#scrollTo=ZrhmN_fAqsi2&line=1&uniqifier=1)

[Working with dictionaies](#scrollTo=NxCNX_t6u1zk&line=4&uniqifier=1)

# Pandas Series

In [3]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
print(type(s))
print(s.index)
print(s.values)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
[1 2 3 4 5]

In [6]:
fruits = ['apples','bananas','cherries','pears']

In [8]:
s1 = pd.Series([20,10,30,40] , index = fruits)
s2 = pd.Series([8,8,8,8], index = fruits)
print(s1+s2)

apples      28
bananas     18
cherries    38
pears       48
dtype: int64

In [9]:
print(s1['apples'])

20

# working with Apply function in Pandas Series

In [14]:
import numpy as np
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64

In [19]:
s.apply(lambda x:x+25 if(x>2) else x+10)

0    11
1    12
2    28
3    29
4    30
dtype: int64

# working with series object using dictionaries

In [20]:
cities = {"London":    8615246, 
          "Berlin":    3562166, 
          "Madrid":    3165235, 
          "Rome":      2874038, 
          "Paris":     2273305, 
          "Vienna":    1805681, 
          "Bucharest": 1803425, 
          "Hamburg":   1760433,
          "Budapest":  1754000,
          "Warsaw":    1740119,
          "Barcelona": 1602386,
          "Munich":    1493900,
          "Milan":     1350680}

city_series = pd.Series(cities)
print(city_series)

London       8615246
Berlin       3562166
Madrid       3165235
Rome         2874038
Paris        2273305
Vienna       1805681
Bucharest    1803425
Hamburg      1760433
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350680
dtype: int64