<a href="https://colab.research.google.com/github/raviakasapu/MachineLearning/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas and advanced data science **

[Import Pandas Series](#scrollTo=qJovi707nY1k&line=3&uniqifier=1)

[Working with *apply* function in *pandas Series* ](#scrollTo=ZrhmN_fAqsi2&line=1&uniqifier=1)

[Working with dictionaies](#scrollTo=NxCNX_t6u1zk&line=4&uniqifier=1)

# Pandas Series

In [3]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
print(type(s))
print(s.index)
print(s.values)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
[1 2 3 4 5]

In [6]:
fruits = ['apples','bananas','cherries','pears']

In [8]:
s1 = pd.Series([20,10,30,40] , index = fruits)
s2 = pd.Series([8,8,8,8], index = fruits)
print(s1+s2)

apples      28
bananas     18
cherries    38
pears       48
dtype: int64

In [9]:
print(s1['apples'])

20

# working with Apply function in Pandas Series

In [14]:
import numpy as np
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
dtype: float64

In [19]:
s.apply(lambda x:x+25 if(x>2) else x+10)

0    11
1    12
2    28
3    29
4    30
dtype: int64

# working with series object using dictionaries

In [20]:
cities = {"London":    8615246, 
          "Berlin":    3562166, 
          "Madrid":    3165235, 
          "Rome":      2874038, 
          "Paris":     2273305, 
          "Vienna":    1805681, 
          "Bucharest": 1803425, 
          "Hamburg":   1760433,
          "Budapest":  1754000,
          "Warsaw":    1740119,
          "Barcelona": 1602386,
          "Munich":    1493900,
          "Milan":     1350680}

city_series = pd.Series(cities)
print(city_series)

London       8615246
Berlin       3562166
Madrid       3165235
Rome         2874038
Paris        2273305
Vienna       1805681
Bucharest    1803425
Hamburg      1760433
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350680
dtype: int64

ceate a Data Frame using series

In [26]:
city_df = pd.DataFrame(city_series, columns = ['population'])
city_df.index

Index(['London', 'Berlin', 'Madrid', 'Rome', 'Paris', 'Vienna', 'Bucharest',
       'Hamburg', 'Budapest', 'Warsaw', 'Barcelona', 'Munich', 'Milan'],
      dtype='object')

In [28]:
city_df.isnull()

           population
London          False
Berlin          False
Madrid          False
Rome            False
Paris           False
Vienna          False
Bucharest       False
Hamburg         False
Budapest        False
Warsaw          False
Barcelona       False
Munich          False
Milan           False

In [33]:
city_index_new = ['London', 'Berlin', 'Madrid','Delhi', 'Rome', 'Paris', 'Vienna', 'Bucharest',
       'Hamburg', 'Budapest', 'Warsaw','Tokyo', 'Barcelona', 'Munich', 'Milan']

In [62]:
city_df = pd.DataFrame(city_series, columns = ['population'], index = city_index_new)
city_df

           population
London      8615246.0
Berlin      3562166.0
Madrid      3165235.0
Delhi             NaN
Rome        2874038.0
Paris       2273305.0
Vienna      1805681.0
Bucharest   1803425.0
Hamburg     1760433.0
Budapest    1754000.0
Warsaw      1740119.0
Tokyo             NaN
Barcelona   1602386.0
Munich      1493900.0
Milan       1350680.0

In [37]:
city_df['population'].isnull()

London       False
Berlin       False
Madrid       False
Delhi         True
Rome         False
Paris        False
Vienna       False
Bucharest    False
Hamburg      False
Budapest     False
Warsaw       False
Tokyo         True
Barcelona    False
Munich       False
Milan        False
Name: population, dtype: bool

In [38]:
city_df['population'].dropna()

London       8615246.0
Berlin       3562166.0
Madrid       3165235.0
Rome         2874038.0
Paris        2273305.0
Vienna       1805681.0
Bucharest    1803425.0
Hamburg      1760433.0
Budapest     1754000.0
Warsaw       1740119.0
Barcelona    1602386.0
Munich       1493900.0
Milan        1350680.0
Name: population, dtype: float64

In [47]:
city_df['population'].fillna(method='ffill')

London       8615246.0
Berlin       3562166.0
Madrid       3165235.0
Delhi        3165235.0
Rome         2874038.0
Paris        2273305.0
Vienna       1805681.0
Bucharest    1803425.0
Hamburg      1760433.0
Budapest     1754000.0
Warsaw       1740119.0
Tokyo        1740119.0
Barcelona    1602386.0
Munich       1493900.0
Milan        1350680.0
Name: population, dtype: float64

In [64]:
cities_new = {"name": ["London", "Berlin", "Madrid", "Rome", 
                   "Paris", "Vienna", "Bucharest", "Hamburg", 
                   "Budapest", "Warsaw", "Barcelona", 
                   "Munich", "Milan"],
          "population": [8615246, 3562166, 3165235, 2874038,
                         2273305, 1805681, 1803425, 1760433,
                         1754000, 1740119, 1602386, 1493900,
                         1350680],
          "country": ["England", "Germany", "Spain", "Italy",
                      "France", "Austria", "Romania", 
                      "Germany", "Hungary", "Poland", "Spain",
                      "Germany", "Italy"]}

In [75]:
city_frame = pd.DataFrame(cities_new, columns=['name','population'], index=cities_new['country'])
city_frame

              name  population
England     London     8615246
Germany     Berlin     3562166
Spain       Madrid     3165235
Italy         Rome     2874038
France       Paris     2273305
Austria     Vienna     1805681
Romania  Bucharest     1803425
Germany    Hamburg     1760433
Hungary   Budapest     1754000
Poland      Warsaw     1740119
Spain    Barcelona     1602386
Germany     Munich     1493900
Italy        Milan     1350680