<a href="https://colab.research.google.com/github/raviakasapu/MachineLearning/blob/main/ML_RandomForest_StayAlert_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest - ML Model building

In [3]:
!unzip '/content/drive/MyDrive/Colab_files/INSAID/stayalert.zip'

Archive:  /content/drive/MyDrive/Colab_files/INSAID/stayalert.zip
  inflating: Solution.csv
  inflating: example_submission.csv
  inflating: fordTest.csv
  inflating: fordTrain.csv

## Approach



1.   Load all the libraries
2.   Load thee data and audit the data(pandas, sklearn)
3. Data Prepaation and data transformation
4. visualization
5. analysis
  1. uni variate analysis - focus on distribution(MCT, MOD)
  2. Bi variate analysis - correlation
  3. multi variate analysis
    1. classification
    2. random forest
  4. dimensionality reduction
    1. principal component analysis
    2. use PCA and apply RF and PCA

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.decomposition import PCA

Load the data

In [5]:
train = pd.read_csv('/content/fordTrain.csv')

In [6]:
test =  pd.read_csv('/content/fordTest.csv')

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604329 entries, 0 to 604328
Data columns (total 33 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   TrialID  604329 non-null  int64
 1   ObsNum   604329 non-null  int64
 2   IsAlert  604329 non-null  int64
 3   P1       604329 non-null  float64
 4   P2       604329 non-null  float64
 5   P3       604329 non-null  int64
 6   P4       604329 non-null  float64
 7   P5       604329 non-null  float64
 8   P6       604329 non-null  int64
 9   P7       604329 non-null  float64
 10  P8       604329 non-null  int64
 11  E1       604329 non-null  float64
 12  E2       604329 non-null  float64
 13  E3       604329 non-null  int64
 14  E4       604329 non-null  int64
 15  E5       604329 non-null  float64
 16  E6       604329 non-null  int64
 17  E7       604329 non-null  int64
 18  E8       604329 non-null  int64
 19  E9       604329 non-null  int64
 20  E10      604329 non-null  int64
 21  E11      604329 non-null  float64
 22  V1       604329 non-null  float64
 23  V2       604329 non-null  float64
 24  V3       604329 non-null  int64
 25  V4       604329 non-null  float64
 26  V5       604329 non-null  int64
 27  V6       604329 non-null  int64
 28  V7       604329 non-null  int64
 29  V8       604329 non-null  float64
 30  V9       604329 non-null  int64
 31  V10      604329 non-null  int64
 32  V11      604329 non-null  float64
dtypes: float64(14), int64(19)
memory usage: 152.2 MB

In [8]:
train.head()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,...,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
0,0,0,0,34.7406,9.84593,1400,42.8571,0.290601,572,104.895,...,0.175,752,5.99375,0,2005,0,13.4,0,4,14.8004
1,0,1,0,34.4215,13.41120,1400,42.8571,0.290601,572,104.895,...,0.455,752,5.99375,0,2007,0,13.4,0,4,14.7729
2,0,2,0,34.3447,15.18520,1400,42.8571,0.290601,576,104.167,...,0.280,752,5.99375,0,2011,0,13.4,0,4,14.7736
3,0,3,0,34.3421,8.84696,1400,42.8571,0.290601,576,104.167,...,0.070,752,5.99375,0,2015,0,13.4,0,4,14.7667
4,0,4,0,34.3322,14.69940,1400,42.8571,0.290601,576,104.167,...,0.175,752,5.99375,0,2017,0,13.4,0,4,14.7757

In [9]:
train.describe()

,TrialID,ObsNum,IsAlert,P1,P2,P3,P4,P5,P6,P7,...,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11
count,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,...,604329.000000,604329.000000,604329.000000,604329.000000,604329.000000,604329.0,604329.000000,604329.0,604329.000000,604329.000000
mean,250.167657,603.841765,0.578799,35.449020,11.996525,1026.671035,64.061965,0.178923,845.384610,77.887628,...,-0.037710,573.786433,19.961030,0.179814,1715.688383,0.0,12.710354,0.0,3.312257,11.668277
std,145.446164,348.931601,0.493752,7.484629,3.760292,309.277877,19.755950,0.372309,2505.335141,18.577930,...,0.403896,298.412888,63.269456,0.384033,618.176470,0.0,11.532085,0.0,1.243586,9.934423
min,0.000000,0.000000,0.000000,-22.481200,-45.629200,504.000000,23.885300,0.038920,128.000000,0.262224,...,-4.795000,240.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.000000,1.676730
25%,125.000000,302.000000,0.000000,31.758100,9.903540,792.000000,49.180300,0.092110,668.000000,66.666700,...,-0.175000,255.000000,1.487500,0.000000,1259.000000,0.0,0.000000,0.0,3.000000,7.947680
50%,250.000000,604.000000,1.000000,34.145100,11.400400,1000.000000,60.000000,0.105083,800.000000,75.000000,...,0.000000,511.000000,3.018750,0.000000,1994.000000,0.0,12.800000,0.0,4.000000,10.772600
75%,374.000000,906.000000,1.000000,37.311900,13.644200,1220.000000,75.757600,0.138814,900.000000,89.820400,...,0.070000,767.000000,7.481250,0.000000,2146.000000,0.0,21.900000,0.0,4.000000,15.270900
max,510.000000,1210.000000,1.000000,101.351000,71.173700,2512.000000,119.048000,27.202200,228812.000000,468.750000,...,3.990000,1023.000000,484.488000,1.000000,4892.000000,0.0,82.100000,0.0,7.000000,262.534000