<a href="https://colab.research.google.com/github/raviakasapu/MachineLearning/blob/main/ML_Simple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression - Single variable

In [1]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/My\ Drive/Colab_files/

Mounted at /content/drive/
/content/drive/My Drive/Colab_files

In [16]:
import pandas as pd
import statsmodels.api as sm

from sklearn.model_selection import train_test_split

In [3]:
salary = pd.read_csv('salary.csv')

In [4]:
salary.head(5)

   S No  Percentage  Salary
0     1          62   27000
1     2          76   20000
2     3          72   24000
3     4          60   25000
4     5          61   18000

In [8]:
salary.drop('S No', axis=1, inplace=True)

In [9]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Percentage  50 non-null     int64
 1   Salary      50 non-null     int64
dtypes: int64(2)
memory usage: 928.0 bytes

In [10]:
salary.describe()

       Percentage        Salary
count   50.000000     50.000000
mean    63.800000  25826.000000
std      9.820844   7671.144182
min     37.000000  12000.000000
25%     57.250000  20450.000000
50%     64.000000  25000.000000
75%     70.000000  30000.000000
max     83.000000  45000.000000

In [14]:
X = sm.add_constant(salary['Percentage'])

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [15]:
X.head(5)

   const  Percentage
0    1.0          62
1    1.0          76
2    1.0          72
3    1.0          60
4    1.0          61

In [17]:
Y = salary['Salary']

In [18]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size =0.8, random_state = 100)

In [20]:
train_X.shape

(40, 2)